{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dts": false,
      "dynamicImport": true,
      "tsx": false,
      "importAssertions": true,
      "noEarlyErrors": false
    },
    "target": "es2022",
    "paths": {
      "~/*": ["./src/*"]
    },
    "baseUrl": "."
  },
  "minify": true,
  "module": {
    "type": "es6"
  }
}
