@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .placeholder-bold::placeholder{
        font-weight: 700;
    }
    .placeholder-grey::placeholder {
        color: #BDBDBD;
    }
    .placeholder-font-notosanskr::placeholder {
        font-family: 'Noto Sans KR', sans-serif;
    }
}

.dark ::-webkit-scrollbar {
    width: 5px;
}

.dark ::-webkit-scrollbar-track {
    background: #424242;
}

.dark ::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #bdbdbd;
}

::-webkit-scrollbar-thumb {
    background: #424242;
}
